<% if Rails.env.test? %>

  <script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>

  <style>
    .super-test-menu {
      width: 120px;
      z-index: 1;
      box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
      position: fixed;
      display: none;
      background: white;
      /* transition: 0.2s display ease-in; */
    }

    .super-test-menu .super-test-menu-options {
      list-style: none;
      padding: 10px 0;
      z-index: 1;
    }
        
    .super-test-menu .super-test-menu-options .super-test-menu-option {
      font-weight: 500;
      z-index: 1;
      font-size: 14px;
      padding: 10px 40px 10px 20px;
      cursor: pointer;
    }

    .super-test-menu-option:hover {
      background: rgba(0, 0, 0, 0.2);
    }




  </style>

  <script text="text/javascript">
    $(function() {
      console.log("✅ Super Test activated in the browser!")

      $( document ).on('turbolinks:load', function() {
        enableContextMenu();
      })

      function enableContextMenu(){
        const menu = document.createElement("div")
        menu.classList.add("super-test-menu")
        menu.innerHTML = '<ul class="super-test-menu-options"><li class="super-test-menu-option" id="assert-exists">Assert Exists</li><li class="super-test-menu-option" id="track-keystrokes">Track Keystrokes</li></ul>'
        document.body.appendChild(menu);
        const menuOption = document.querySelector(".super-test-menu-option");
        let menuVisible = false;

        const toggleMenu = command => {
          menu.style.display = command === "show" ? "block" : "none";
          menuVisible = !menuVisible;
        };

        const setPosition = ({ top, left }) => {
          menu.style.left = `${left}px`;
          menu.style.top = `${top}px`;
          toggleMenu("show");
        };

        window.addEventListener("click", e => {
          if (menuVisible) toggleMenu("hide");
        });

        menuOption.addEventListener("click", e => {
          console.log("mouse-option", e.target.innerHTML);
        });

        $(document).contextmenu(function(e) {
          e.preventDefault();
          const origin = {
            left: e.pageX,
            top: e.pageY
          };
          setPosition(origin);
          return false;
        })

        $("#assert-exists").on("mousedown", function(e) {
          e.preventDefault();
          var text = selectedText();
          var action = "assert(page.has_content?('" + text.replace("'", "\\\'") +  "'))";
          var testingOutput = JSON.parse(sessionStorage.getItem("testingOutput"));
          var target = "";
          var options = "";
          testingOutput.push({action: action, target: target, options: options}); 
          sessionStorage.setItem("testingOutput", JSON.stringify(testingOutput));
        });
  
        $("#track-keystrokes").on("click", function(e){
          trackKeystrokes();
          return true;
        });

      }

      let trackingKeystrokes = true;

      enableContextMenu();




      function selectedText(){
        var text = "";
        if (window.getSelection) {
            text = window.getSelection().toString();
        } else if (document.selection && document.selection.type != "Control") {
            text = document.selection.createRange().text;
        }
        return text;
      }

      function trackKeystrokes(){
        trackingKeystrokes = true;
      }


      if (sessionStorage.getItem("testingOutput") == null) {
        sessionStorage.setItem("testingOutput", JSON.stringify([]));
      }

      $(document).on('click', '*', function(event){clickFunction(event)});


      let mutationObserver = new MutationObserver(function(mutations) {
        if (!window.target) {
          return;
        }
        var options = "";
        var targetClass = window.target.classList[0] ? `.${window.target.classList[0]}` : ""
        var text = window.target.innerText ? `', text: '${window.target.innerText}` : ""
        var action = `find('${window.target.localName}${targetClass}${text}').hover`;
        var target = "";
        var testingOutput = JSON.parse(sessionStorage.getItem("testingOutput"));
        testingOutput.push({action: action, target: target, options: options});
        sessionStorage.setItem("testingOutput", JSON.stringify(testingOutput));
      });

      let myRecords;
      let opts = {attributes: true, characterData: true, childList: true, subtree: true}

      document.addEventListener('mouseover', function(evt) {
        window.target = evt.target;
        mutationObserver.observe(document.documentElement, opts);
      }, true)

      document.addEventListener('mouseover', function (e) {
        mutationObserver.disconnect();
      }, false)


      
      
      window.observer = mutationObserver;


      function clickFunction(event) {
        
        var tagName = event.currentTarget.tagName
        var action = ""
        var target = ""
        var options = ""
        if (tagName == "BUTTON" || tagName == "A" || (tagName == "INPUT" && event.currentTarget.type == 'submit')) {
          action = "click_on"
          var target = event.currentTarget.value || event.currentTarget.text
          if (!target) { 
            return;
          }
          target = "\'" + target.trim() + "\'"
        } else if (tagName == "INPUT") {
          let ignoreType = ['text', 'password', 'date', 'email', 'month', 'number', 'search']
          if (ignoreType.includes(event.currentTarget.type)) {
            return;
          }
          var path = getPathTo(event.currentTarget)
          action = `find(:xpath, '${path}').click`
        } else {
          return;
        }
        var testingOutput = JSON.parse(sessionStorage.getItem("testingOutput"));
        testingOutput.push({action: action, target: target, options: options });
        sessionStorage.setItem("testingOutput", JSON.stringify(testingOutput));
      };

      function getPathTo(element) {
          if (element.tagName == 'HTML')
              return '/HTML[1]';
          if (element===document.body)
              return '/HTML[1]/BODY[1]';

          var ix= 0;
          var siblings= element.parentNode.childNodes;
          for (var i= 0; i<siblings.length; i++) {
              var sibling= siblings[i];
              if (sibling===element)
                  return getPathTo(element.parentNode)+'/'+element.tagName+'['+(ix+1)+']';
              if (sibling.nodeType===1 && sibling.tagName===element.tagName)
                  ix++;
          }
      }


      document.onkeypress = function(evt) {
        evt = evt || window.event;
        var charCode = evt.keyCode || evt.which;
        var charStr = String.fromCharCode(charCode);
        if (!evt.target.labels) {
          return;
        }
        var label = evt.target.labels[0].textContent;
        var text = (evt.target.value + charStr).trim().replace("'", "\\\'");
        var action = "fill_in";
        var target = evt.target.labels[0].textContent;
        var options = ", with: '" + text + "'";
        var testingOutput = JSON.parse(sessionStorage.getItem("testingOutput"));
        var lastAction = testingOutput[testingOutput.length - 1];
        if (lastAction && lastAction.action == action && lastAction.target == "\'" + target + "\'") {
          lastAction.options = options;
        } else { 
          testingOutput.push({action: action, target: "\'" + target + "\'", options: options});
        }
        sessionStorage.setItem("testingOutput", JSON.stringify(testingOutput));
      }

      function capybaraFromCharCode(charCode) {
        codes = {
          8  :  ':backspace',
          9  :  ':tab',
          13 :  ':enter',
          16 :  ':shift',
          17 :  ':control',
          18 :  ':alt',
          19 :  ':pause',
          27 :  ':escape',
          // 32 :  ':space',
          33 :  ':page_up',
          34 :  ':page_down',
          35 :  ':end',
          36 :  ':home',
          37 :  ':left',
          38 :  ':up',
          39 :  ':right',
          40 :  ':down',
          45 :  ':insert',
          46 :  ':delete',
          91 :  ':command',
          112:  ':f1',
          113:  ':f2',
          114:  ':f3',
          115:  ':f4',
          116:  ':f5',
          117:  ':f6',
          118:  ':f7',
          119:  ':f8',
          120:  ':f9',
          121:  ':f10',
          122:  ':f11',
          123:  ':f12',
        }
        return codes[charCode];
      }

      function capybaraKeyUpFromCharCode(charCode) {
        codes = {
          16 :  ':shift',
          17 :  ':control',
          18 :  ':alt',
          91 :  ':command',
        }
        return codes[charCode];
      }

      document.addEventListener('keydown', function(e){keyDownFunction(e)}, true);
      document.addEventListener('keyup', function(e){keyUpFunction(e)}, true);

      function keyDownFunction(evt){
        if(!trackingKeystrokes){
          return;
        }

        if (evt.target.labels) {
          return;
        }

        evt = evt || window.event;
        var charCode = evt.keyCode || evt.which;
        var charStr = capybaraFromCharCode(charCode);
        var letter = evt.key == "'" ? "\\\'" : evt.key;
        var tagName = evt.target.tagName.toLowerCase();
        var action = `find('${tagName}').`;
        var target = ""
        if (charStr) {
          target = `send_keys(${charStr})`;
        } else {
          target = `send_keys('${letter}')`;
        }
        var options = "";
        var testingOutput = JSON.parse(sessionStorage.getItem("testingOutput"));
        var lastAction = testingOutput[testingOutput.length - 1];
        // If the last key pressed was enter, always start a new action (otherwise with trix mentions, it happens too fast and we don't actually select the mentioned user correctly.)
        if (lastAction && lastAction.target.substr(lastAction.target.length - 7 , 6) == ":enter") {
          lastAction = null;
        }
        if (lastAction && lastAction.action == action && lastAction.target.substr(0,9) == 'send_keys') {
          if (charStr) {
            lastAction.target = lastAction.target.substr(0, lastAction.target.length - 1) + ', ' + charStr + ')'
          } else {
            if (lastAction.target.substr(lastAction.target.length - 2, 1) == "'") {
              lastAction.target = lastAction.target.substr(0, lastAction.target.length - 2) + letter + '\'' + ')'
            } else {
              lastAction.target = lastAction.target.substr(0, lastAction.target.length - 1) + ', \'' + letter + '\'' + ')'
            }
          }
        } else {
          testingOutput.push({action: action, target: target, options: options});
        }
        sessionStorage.setItem("testingOutput", JSON.stringify(testingOutput));
      }

      function keyUpFunction(evt){
        if(!trackingKeystrokes){
          return;
        }

        if (evt.target.labels) {
          return;
        }

        evt = evt || window.event;
        var charCode = evt.keyCode || evt.which;
        var charStr = capybaraKeyUpFromCharCode(charCode);
        if (!charStr) {
          return;
        }
        var letter = String.fromCharCode(charCode);
        var tagName = evt.target.tagName.toLowerCase();
        var action = `find('${tagName}').`;
        var target = ""
        if (charStr) {
          target = `send_keys(${charStr})`;
        } else {
          target = `send_keys('${letter}')`;
        }
        var options = "";
        var testingOutput = JSON.parse(sessionStorage.getItem("testingOutput"));
        var lastAction = testingOutput[testingOutput.length - 1];
        if (lastAction && lastAction.action == action && lastAction.target.substr(0,9) == 'send_keys') {
          if (charStr) {
            lastAction.target = lastAction.target.substr(0, lastAction.target.length - 1) + ', ' + charStr + '' + ')'
          } else {
            lastAction.target = lastAction.target.substr(0, lastAction.target.length - 1) + ', \'' + letter + '\'' + ')'
          }
        } else {
          testingOutput.push({action: action, target: target, options: options});
        }
        sessionStorage.setItem("testingOutput", JSON.stringify(testingOutput));
      }

    });


  </script>
<% end %>
